* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 8px;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    z-index: 1000;
}

.scroll-link {
    transition: transform 0.3s ease;
}

.scroll-link:hover {
    transform: translateY(-2px);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 10px;
}

li:first-child {
    margin-left: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: white;
}

.about {
    background-color: darkblue;
    padding-top: 90px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.about h1 {
    padding: 10px;
    font-size: 28px;
}

.about p {
    padding: 10px;
    font-size: 16px;
}

.projects {
    text-align: center;
    padding: 70px;
    font-size: 32px;
}

.front-end-projects {
    padding: 20px;
    text-align: center;
    color: white;
}

.project-tile {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.another_page {
    text-align: center;
    padding: 30px;
}

.contact {
    margin: 20px;
    font-size: 16px;
}

hr {
    height: 3px;
    border: none;
    background-color: white;
    margin: 20px 0;
}

h1 {
    color: white;
    font-size: 35px;
    text-align: center;
}

p {
    color: white;
    font-size: 16px;
}


@media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }