* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 8px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 32px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-link {
    transition: transform 0.3s ease;
}

.scroll-link:hover {
    transform: translateY(-2px);
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 10px;
}

li:first-child {
    margin-left: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: white;
    padding-left: 200px;
}

.about {
    /* background-color: darkslategrey; */
    text-align: center;
    padding: 70px;
    font-size: 32px;
}
.about p {
    padding: 10px;
    font-size: 16px;
}

.projects {
    text-align: center;
    padding: 70px;
}

.htb, .certifications, .front-end-projects, .articles, .courses {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.project-block, .htb-block, .certification-block, .article-block, .senac-courses-block, .dio-courses-block {
    display: inline-block;
    width: 200px;
    height: 450px;
    margin: 10px;
    border: 3px solid;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    font-size: 20px;
}

.senac-courses-block, .htb-block {
    height: 320px;
}

.project-block img, .htb-block img, .certification-block img {
    max-width: 100%;
    max-height: 80%;
    display: block;
}

.hidden {
    display: none;
}

#dio-ver-mais, #htb-ver-mais {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ver-mais:hover {
    background-color: #0056b3;
}

.another_page {
    text-align: center;
    padding: 30px;
}

.contact {
    margin: 20px;
    font-size: 16px;
}

hr {
    height: 3px;
    border: none;
    background-color: white;
    margin: 0;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

p {
    color: white;
    font-size: 16px;
}

.grid-container {
    display: grid;
    flex-direction: row;
    min-height: 100vh; 
}

.content-wrapper {
    display: flex;
}

.main-content {
    flex: 1;
    margin-left: 20%;
    padding-top: 30px;
}

.sidebar {
    flex: 0 0 20%;
    padding-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    background-color: darkslategrey;
    color: white;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    max-height: 100vh;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px;
}

.skills li {
    padding: 5px;
    margin: 0;
    list-style: none;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skills h4 {
    padding-top: 15px;
    font-size: 20px;
}

@media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }

    .nav-list {
      margin: 0 1rem;
    }
}

